$light-gray: #d6dce7;
$gray: #9baac8;
$blue: #697ca6;
$white: #fff;

//font responsive
@mixin font-size(
  $min-font-size: 16px,
  $max-font-size: 21px,
  $lower-range: 420px,
  $upper-range: 991px
) {
  font-size: calc(
    #{$min-font-size} + #{(
        ($max-font-size / ($max-font-size * 0 + 1)) -
          ($min-font-size / ($min-font-size * 0 + 1))
      )} * ((100vw - #{$lower-range}) / #{(
            ($upper-range / ($upper-range * 0 + 1)) -
              ($lower-range / ($lower-range * 0 + 1))
          )})
  );
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range) {
    font-size: $max-font-size;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
/*dropdown*/
.dropdown {
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #ecf0f7;
  box-shadow: 0px 1px 1px 0px rgb(237, 241, 250);
  //   height: 56px;
  //   width: 232px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  transition: all 0.4s;
  &.active {
    border: 2px solid rgb(20, 148, 244);
    .dropdown__list {
      opacity: 1;
      top: 105%;
    }
  }
  &__label {
    display: flex;
    align-items: center;
    i {
      color: $light-gray;
    }
  }
  &__label--wrap {
    padding-left: 15px;
    span {
      color: $light-gray;
      font-weight: 600;
    }
    p {
      color: $blue;
      @include font-size(16px, 24px, 500px, 1440px);
    }
  }
  &__noOfSites {
    margin: 0;
    &.filtered {
      color: #3ea7f6;
    }
  }
  i {
    font-size: 20px;
  }
  &__list {
    transition: 0.5s;
    opacity: 0;
    background: $white;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 20px 0;
    border: 1px solid #ecf0f7;
    box-shadow: 0px 1px 1px 0px rgb(237, 241, 250);
  }
  &__search {
    padding: 0 15px;
    div {
      position: relative;
    }
    i {
      color: #cdd5e3;
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(-50%, -50%);
    }
    input {
      background: #fafbfc;
      border-radius: 5px;
      border: 0;
      padding: 20px 15px 20px 40px;
      font-size: 16px;
      color: #98a7c6;
      width: 100%;

      &::placeholder {
        font-size: 16px;
        color: #98a7c6;
        letter-spacing: 1px;
        font-weight: 500;
      }
      &:focus {
        border: 0;
        outline: 0;
      }
    }
  }
  &__select {
    display: flex;
    flex-direction: column;
    color: $gray;
    padding: 15px;
    max-height: 360px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(#1494f4, 0.8);
      //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(#1494f4, 1);
    }
    a {
      &:hover {
        i {
          transform: scale(1.1);
        }
      }
      &:first-child {
        margin-bottom: 20px;
      }
      i {
        margin-right: 10px;
        transition: 0.4s;
      }
    }
  }
  &__list-items {
    margin-top: 10px;
  }
  &__list--item {
    padding: 7px 0;
    label {
      color: #062b75;
      font-weight: 500;
    }
    &:hover {
      label {
        color: #1695f4;
      }
    }
  }
  &__btn {
    padding: 0 15px;
    margin-top: 20px;
    button {
      width: 100%;
      background-color: #1494f4;
      border: 0;
      color: $white;
      @include font-size(16px, 24px, 500px, 1440px);
      font-family: inherit;
      border-radius: 3px;
      padding: 15px 0;
      line-height: 1;
      &:disabled {
        background: #f2f4f8;
        color: #c8d0e0;
      }
    }
  }
}

/*Material checkbox*/
.pure-material-checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  //   color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  //   font-family: var(
  //     --pure-material-font,
  //     'Roboto',
  //     'Segoe UI',
  //     BlinkMacSystemFont,
  //     system-ui,
  //     -apple-system
  //   );
  font-size: 16px;
  line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.pure-material-checkbox > span::before {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px; /* Safari */
  border-color: #eef2f6;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
  background: #fafbfc;
}

/* Checkmark */
.pure-material-checkbox > span::after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
  background-color: rgba(33, 150, 243, 1);
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
  border-color: rgba(33, 150, 243, 1);
  background-color: rgba(33, 150, 243, 1);
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
  border-color: rgba(255, 255, 255, 1);
}

.pure-material-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
  opacity: 0.04;
}

.pure-material-checkbox > input:focus {
  opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
  border-color: rgba(33, 150, 243, 1);
}

.pure-material-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(33, 150, 243, 1);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
  opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
  color: rgba(33, 150, 243, 0.38);
  cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

/*Material ripple effect*/

/*Spinner*/
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  //   height: 100vh;
}
.spinner::after {
  content: '';
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #34495e;
  animation: loader 1s infinite ease-in-out;
}
@keyframes loader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
